
html {
  font-size: 100%;
}

body {
  background-color: rgba(255, 252, 252, 0.45);
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: cadetblue;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0.4%;
}

.header {
  height: 120px;
  background-color: #27a1b6;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.main-text {
  padding-top: 20px;
  color: aliceblue;
}

h1 {
  color: rgb(89, 86, 86);
}

footer {
  background-color: #27a1b6;
  text-align: center;
  padding: 26px 0;
  position: sticky;
  top: 100vh;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 60px;
}

footer p {
  color: aliceblue;
  font-size: 0.875rem;
  margin: 0;
}

.content {
  display: flex;
  margin-bottom: 30px;

}

.flex {
  margin-left: 30px;
}